<div class="games-container">
  <app-games-filter
    (searchByString)="searchByString($event)"
    (minRating)="searchByMinRating($event)"
    (releasedDate)="searchByKey($event)"
    (clearFilters)="clearFilters()"
  >
  </app-games-filter>
  <div class="games-list flex-grow-1">
    <ng-container>
      <div class="games-list">
        <ng-container *ngFor="let game of games">
          <app-games-item [game]="game"></app-games-item>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="message">
      <div class="games-list loader">
        <h1>{{ message }}</h1>
      </div>
    </ng-container>
  </div>
</div>
